.navbar {
    width: 100vw; /* full viewport width */
    max-width: 100%; /* prevents overflow */
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    height: 60px;
    background-color: rgb(240, 6, 6);
    color: white;
    font-size: clamp(18px, 2vw, 30px);
}

.nav-link {
    text-decoration: none;
    color: #E8E7DC;
    margin: 0 15px;
    font-size: 18px;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}