.navbar {
    position: fixed;
    left: 0;
    top: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 5%;
    font-size: 30px;
    background-color: rgb(240, 6, 6);
    color: white;
    z-index: 1;
}

.nav-link {
    text-decoration: none;
    color: #E8E7DC;
    margin: 0 15px;
    font-size: 18px;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}